.title-container{
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}
.rps-title{
    height:162px;
    width: 415px;
}

.icon-container{
    display:flex;
    justify-content: center;
}

.rps-icon{
    height: 200px;
    width: 200px;
}

.rps-icon:hover{
    height:250px;
    width:250px;
}

.results{
    font-family: Arial, Helvetica, sans-serif;
}

.gameStatus{
    margin-top: 50px;
    text-align-last: center;
    font-weight: bold;
}

.roundContainer{
    display: flex;
    justify-content: center;
}

table, td{
    border: 3px solid black;
    margin: 0 auto;
    text-align: center;
}

th{
    background-color: black;
    color: white;
    text-align: center;
}

.resultP{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}